@import "../global_utils.css";

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.container div {
  width: 100%;
  padding-left: 15px;
}

.container img {
  width: 80%;
  padding: 0px 100px;
}

.white_input_btn {
  padding: 0px 30px;
  width: 87%;
  height: 6vw;
  background: var(--white-color);
  border: 2px solid #000000;
  border-radius: 21px;
  font-size: 24px;
}

.lable_text {
  font-weight: 500;
  font-size: 3vw;
  line-height: 58px;
  margin: 15px 0px;
}

#avatar_selection_btn {
  box-shadow: 7px 7px 18px 2px rgba(0, 0, 0, 0.60);
  width: 10vw;
  height: 10vw;
  background-color: var(--black-color);
  border-radius: 100px;
}

#avatar_selection_svg
  {
    top: 15%;
    transform: translateX(-50%);
    left: 51%;
    width: 7vw;
  }

#next_page_btn {
  box-shadow: 7px 7px 18px 2px rgba(0, 0, 0, 0.60);
  background-color: var(--black-color);
  border-radius: 68px;
  font-size: 3vw;
  font-weight: 400;
  display: flex;
  width: 21vw;
  align-items: center;
  height: 7vw;
  bottom: 3%;
  left: 71%;
  transform: translateX(-50%);
  justify-content: center;
  transition: .9s;
  outline: none;
  border: none;
}

#next_page_btn:hover {
  background-color: var(--white-color);
}

#next_page_btn span {
  color: var(--white-color);
}

#next_page_btn:hover span {
  transition: .9s;
  color: var(--black-color);
}

#next_page_btn:hover #arrow_svg {
  transition: .9s;
  fill: var(--black-color);
}


@media (max-width:700px) {}