@import "../global_utils.css";

.header {
    height: 6vh;
    width: 100%;
    padding: 20px 24px;
}

.container {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user_image {
    min-width: 77px;
    min-height: 77px;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-bottom: -7vh;
    z-index: 1;
    margin-top: 18px;
    background: var(--black-color);
    box-shadow: 3px -3px 45px -2px #0A9CC85E;
}

.editBox {
    width: 80%;
    height: 80%;
    border-radius: 23px;
    background-color: #1C3036;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 5px 9px 51px -2px #1C3036;
}

.details_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 84%;
}

.grid_item {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px 34px;
}

.grid_item h4 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 36px;
}

.entry_filds {
    outline: none;
    border: none;
    border-radius: 22px;
    padding: 20px 20px;
    width: 25vw;
    height: 55px;
    box-shadow: 5px 4px 36px -5px rgba(255, 255, 255, 0.30);
    font-size: 20px;
    font-weight: 600;

}

#save_btn {
    margin: 12px auto;
    font-size: 24px;
    width: 15vw;
    height: 4vw;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 22px;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    align-items: center;
    box-shadow: -2px 2px 32px -7px rgba(0, 0, 0, 0.53);
    transition: .9s;
}
#save_btn:hover{
    background-color: var(--black-color);
color: var(--white-color);
}