@import "../../global_utils.css";


.online_ball {
  background-color: var(--green-color);
}

.online_text {
  color: var(--green-color);
}

.offline_ball {
  background-color: var(--assh-color);
}

.offline_text {
  color: var(--assh-color);
}


body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-theame-color);
}

header {
  width: 100%;
  height: 12vh;
  padding: 48px 170px;
  border-bottom: 3px solid var(--white-color);
}

header .header-left {
  position: relative;
}

header .header-left img {
  width: 300px;
  margin-top: -9px;
}

header .header-right {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
}

header .header-right svg {
  height: 42px;
}

.internet_status {
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 1px 97px;
  padding-bottom: 0px;
  position: absolute;
  left: -33px;
  top: 44px;
}

.internet_status span {
  width: 10px;
  display: flex;
  height: 10px;
  border-radius: 50px;
}

.internet_status p {
  margin-left: 7px;
}

/* main area   */

/* prompt area  */
.box_container {
  width: 80%;
  margin: auto;
  height: 75vh;
}

.prompts p {
  font-weight: 600;
  font-size: 2.5vw;
  color: var(--white-color);
  text-align: center;
}


.prompts img {
  width: 3vw;
}

.prompts button {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 34px;
  padding: 10px 3%;
  border: none;
  margin-top: 12px;
  width: 24vw;
  color: var(--black-color);
  outline: none;
  text-transform: capitalize;
  background: var(--white-color);
  border-radius: 22.8598px;
}
/* chating area  */

.chatBot_area {
  margin-top: 50px;
  height: 12vh;
  max-height: 100vh;
}

.bot_chatMessage {
  border-radius: 35px 35px 35px 0px;
  background: #0f1a36;
  max-width: 70vw;
  margin-left: 3%;
  width: 400px;
  color: var(--white-color);
  padding: 20px 30px;
}

.user_message_area {
  align-items: end;
  border-radius: 35px 0px 35px 35px;
  margin-top: 20px;
}

.user_chatMessage {
  background: #030303;
  max-width: 70vw;
  margin-right: 3%;
  color: var(--white-color);
  width: 400px;
  border-radius: 35px 0px 35px 35px;
  padding: 20px 30px;
}

.chating_icon {
  width: 45px;
}

/* footer  */

footer {
  height: 15vh;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 3;
}

.user_input_area {
  background: var(--chating-userInput-color);
  width: 60%;
  margin: auto;
  border-radius: 50px;
  height: 5vw;
  position:relative;
}

.user_input_area input {
  padding: 20px 24px;
  width: 81%;
  outline: none;
  height: 80%;
  font-size: 2vw;
  background: transparent;
  border: none;
  font-weight: 500;
  color: var(--white-color);
}

#ai_btn {
  width: 8%;
  margin-bottom: 12px;
  position: absolute;
  right: 12%;
  bottom: 21%;
}


#sent_btn {
  width: 5%;
}




/* responsiveness */

@media (max-width:700px) {
  body{
    background-color: black;
  }
}